Header set Access-Control-Allow-Origin "*"
    RewriteEngine on
    RewriteBase /api_json/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /api_json/index.php/$1 [L]
	<IfModule mod_rewrite.c>
</IfModule>