 /*Dekstop*/
            @media only screen and (min-width:1025px){
                #show_filter_mobile{
                    display: none;
                }
                #show_filter_desktop{
                    display: inline;
                }
                #filter_toggle{
                    display: none;
                }
                .boxkotakcamp{
                    width: 31%; float: left;margin-bottom: 3.5%;padding-bottom: 10px;
                }
                .desccamp1{
                    display: inherit;
                    line-height: 22.5px;
                }
                .tag_cover{
                    position: absolute;
                    /* bottom: 20%; */
                    line-height: 50px;
                    font-weight: bold;
                    width: 52%;
                    margin: auto;
                    bottom: 0;
                    top: 80px;
                    left: -280px;
                    right: 0;
                    text-align: left;
                    height: 200px;
                }
                .tag_size_text {
                    font-size: 3.6vw;
                    word-wrap: break-word;
                    word-break: break-word;
                    text-shadow: 1px 1px 1px #565656;
                    letter-spacing: -2px;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: left;
                }
                .subtopic_slide {
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: 400;
                    text-align: left;
                    top: 0px;
                    bottom: 0px;
                    line-height: 35px;
                    text-shadow: 1px 1px 1px #565656;
                }
            .next_btn{right:3%;top:50%;}
            .prev_btn{left:3%;top:50%;}
            .next_btn_product{right:-75px;top:35%;}
            .prev_btn_product{left:-75px;top:35%;}
            .next_btn_testi{right:8%;top:60%;}
            .prev_btn_testi{left:8%;top:60%;}
            .next_btn_feat{right:-4%;top:50%;}
            .prev_btn_feat{left:-4%;top:50%;}
            .img_feat{
                height: 315px;width: 100%;
            }
            .box_featured{
                    background-color: #85945D;width: 100%;height: 100px;
                }
            #menu_navbar_desktop{
                display: inline;
            }
            .width_980{
                position: relative;margin: 0 auto;width: 980px;
            }
            .box_content{
                    position: relative;top: 45px;height: 100%;min-width: 980px;width: 100%;
                }
            #show_subscribe{
                    display: inline;
                }
                .logo_footer{
                    float: left;
                }
                .socmed_box{
                    float: right;
                }
                #show_menu_foot_mobile{
                    display: none;
                }
                #show_menu_foot_desktop{
                    display: inline;
                }
                .txt_foot{
                    color: #939496;
                    font-size: 17px;
                    float: left;
                    margin-right: 10px;
                }
                .txt_foot:hover{
                    color: #85945d;
                }
                #popmenu{
                    display: none;
                }
                .border_bott_footer{
                    border-bottom: 1px solid #989898;width: 100%;margin-top: 40px;margin-bottom: 30px;
                }
                #menu_head_desktop{
                    display: inline;
                }
                #menu_head_mobile{
                    display: none;
                }
                #box_search_desktop{
                    display: inline;
                }
                .bx-wrapper .bx-pager,
                .bx-wrapper .bx-controls-auto {
                        position: absolute;
                        bottom: 30px;
                        right: 80px;
                }
                .title_data{
                    font-size: 26px;
                    font-weight: bold;
                    color:#333333;
                }
                .title_data_statis{
                    font-size: 26px;
                    font-weight: bold;
                    color:#333333;
                }
                .txt_current{
                        font-weight: bold;font-size: 120px;color: #4D5E27;
                 }
                 .sub_title_data{
                    font-size: 20px;
                    font-weight: bold;
                    color:#333333;
                    float: left;
                }
                .txt_source{
                    font-size: 20px;
                    color:#000;
                    margin-bottom: 40px;
                }
                .txt_source:hover{
                    color:#85945d;
                    text-decoration: underline;
                }
                .link_download_pdf{
                    margin-left: 5px;color:#8f8f8f;text-decoration: none;
                }
                .link_download_pdf:hover{
                    color:#85945d;
                    text-decoration: underline;
                }
                .txt_total_data{
                    font-weight: bold;font-size: 80px;color: #4D5E27;
                }
                .float{
                    float: none;
                }
                #ceo{float: right;}
                .border_line{
                    width: 180px;border-bottom: 3px solid #d8d8d8;height: 1px;
                }
                .txt_sidomuncul_statis{
                    font-size: 30px;
                    font-weight: bold;
                    color:#333333;
                    margin-top: 80px;
                    margin-bottom: 30px;
                }
                .txt_desc_statis{
                    font-size: 20px;
                    color:#333333;
                    font-family: 'Lato';
                    margin-bottom: 40px;
                    word-wrap:break-word;
                    width: 600px;
                    text-align: left;
                    line-height: 30px;
                }
                .box_slide{
                    width: 155px;
                    height: 100%;
                }
                .box_slide_home{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .txt_testi_statis{
                    width:450px;text-align: left;margin-left: 0px;float: left;font-weight: bold;font-size: 36px;color:white;padding-top: 50px;padding-bottom: 30px;
                }
                .title_testi{
                    width:480px;text-align: left;font-size: 20px;color:white;padding-top: 0px;padding-bottom: 20px;
                }
                .testi_from{
                    width:480px;text-align: left;font-size: 20px;color:white;font-weight: bold;
                }
                .box_isotope_create{
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .txt_cat{
                    float: left;font-size: 14px;margin-top: 20px;font-weight: bold;margin-bottom: 20px;
                }
                .txt_sidomuncul_statis_head{
                    font-size: 35px;
                    font-weight: bold;
                    color:black;
                    margin-top: 60px;
                    margin-bottom: 40px;
                    float: left;
                    margin-left: 10px;
                }
                .box_nav_filter{
                    float: right;margin-top: 60px;margin-bottom: 40px;margin-right: 10px;
                }
                .box_div_news{
                    height:auto;margin-bottom: 30px;
                }
                .box_announcement{
                    width: 980px;height: 415px;margin-top: -10px;
                 }
                 .desc_feat{
                    color:#fff;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 8px;
                    margin-left: 20px;
                    text-transform: uppercase;
                }
                .title_feat{
                    color:#fff;
                    font-size: 14px;
                    padding-top: 25px;
                    margin-left: 20px;
                }
                .box_right_img_vid{
                    float: right;margin-right: 15px;margin-top: 30px;
                }
                #height_slide{
                    height: 80px;
                }
                .icon_box_filter_mob{
                    float: right;margin-top: 60px;margin-bottom: 40px;cursor: pointer;
                }
                nav#filter li {
                        display: inline-block;
                        margin: 0 0 0 5px;
                }
                .box_testimonial{
                    background-color: #85945D;width: 100%;height: 250px;border-bottom: 10px solid #4D5E27
                }
                .slide_page{
                 
                width: 100%;
                height: 520px;
                }
                .logo_foot{
                    width:300px;margin-top: 100px;margin-left:-10px;
                }
                .txt_subs_foot{
                    color: #fff;font-size: 14px;margin-top: 120px;margin-bottom:20px;text-align: right;
                }
                #powered_desk{
                    display: inline;
                }
                #powered_mob{
                    display: none;
                }
                .icon_powered{
                    background: url('../../sido_img/images/poweredbytokopo.png');
                    width:70px;
                    height: 29px;
                    float: left;
                    margin-left: 25px;
                }
            
            }
            /*Tablet*/
            @media only screen and (min-width:768px) and (max-width: 1024px){
                #show_filter_mobile{
                    display: inline;
                }
                #show_filter_desktop{
                    display: none;
                }
                #filter_toggle{
                    display: inline;
                }
                .boxkotakcamp{
                    width: 48%; margin-bottom: 3.5%;
                }
                .desccamp{
                    height: 65px;
                    margin-bottom: 20px;
                }
                .tag_cover {
                    position: absolute;
                    /* bottom: 20%; */
                    line-height: normal;
                    font-weight: bold;
                    width: 90%;
                    margin: auto;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 200px;
                }
                .tag_size_text {
                    font-size: 5vw;
                    letter-spacing: normal;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 15px;
                }
                 .subtopic_slide {
                        font-size: 16px;
                        color: #ffffff;
                        text-align: center;
                        top: 0px;
                        bottom: 0px;
                        line-height: 25px;
                        width: 75%;
                        margin: 0 auto;
                        padding-bottom: 10px;
                    }
                .next_btn{right:3%;top:50%;}
                .prev_btn{left:3%;top:50%;}
                .next_btn_product{right:0%;top:35%;}
                .prev_btn_product{left:0%;top:35%;}
                .next_btn_testi{right:5%;top:70%;}
                .prev_btn_testi{left:5%;top:70%;}
                .next_btn_feat{right:-15px;top:50%;}
                .prev_btn_feat{left:-15px;top:50%;}
                .img_feat{
                    height: 235px;width: 100%;
                }
                .box_featured{
                    background-color: #85945D;width: 100%;height: 100px;
                }
                #menu_navbar_desktop{
                    display: none;
                }
                .width_980{
                    position: relative;margin: 0 auto;width: 92%;
                }
                #show_subscribe{
                    display: none;
                }
                .logo_footer{
                    text-align: center;
                }
                .socmed_box{
                    margin: 0px auto;width: 240px;
                }
                #show_menu_foot_mobile{
                    display: inline;
                }
                #show_menu_foot_desktop{
                    display: none;
                }
                .txt_foot{
                    color: #939496;
                    font-size: 17px;
                    margin-right: 10px;
                }
                .txt_foot:hover{
                    color: #85945d;
                }
                #popmenu{
                    display: inline;
                }
                .border_bott_footer{
                    border-bottom: 1px solid #989898;width: 85%;padding-top: 15px;margin: 0 auto;
                }
                .box_content{
                    position: relative;top: 0px;height: 100%;width: 100%;
                }
                #menu_head_desktop{
                    display: none;
                }
                #menu_head_mobile{
                    display: inline;
                }
                #box_search_desktop{
                    display: none;
                }
                .bx-wrapper .bx-pager,
                .bx-wrapper .bx-controls-auto {
                        position: absolute;
                        bottom: 30px;
                        right: 0px;
                        width: 100%;
                        margin: 0px auto;
                }
                .title_data{
                    font-size: 26px;
                    font-weight: bold;
                    color:#333333;
                }
                .title_data_statis{
                    font-size: 20px;
                    font-weight: bold;
                    color:#333333;
                    text-align: center;
                }
                .txt_current{
                        font-weight: bold;font-size: 100px;color: #4D5E27;
                 }
                 .sub_title_data{
                    font-size: 20px;
                    font-weight: bold;
                    color:#333333;
                    float: left;
                }
                .txt_source{
                    font-size: 20px;
                    color:#000;
                    margin-bottom: 30px;
                }
                .txt_source:hover{
                    color:#85945d;
                    text-decoration: underline;
                }
                .link_download_pdf{
                    margin-left: 5px;color:#8f8f8f;text-decoration: none;
                }
                .link_download_pdf:hover{
                    color:#85945d;
                    text-decoration: underline;
                }
                .txt_total_data{
                    font-weight: bold;font-size: 80px;color: #4D5E27;float: left;
                }
                .float{
                    float: left;
                }
                #ceo{position: relative;width: 205px;margin:0px auto;}
                .border_line{
                    display: none;
                }
                .txt_sidomuncul_statis{
                    font-size: 22px;
                    font-weight: bold;
                    color:#333333;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    text-align: center;

                }
                .txt_desc_statis{
                    font-size: 16px;
                    color:#333333;
                    font-family: 'Lato';
                    margin-bottom: 20px;
                    word-wrap:break-word;
                    width: 100%;
                    text-align: center;
                    line-height: 30px;
                }
                .box_slide{
                    width: 100%;
                    height: 100%;
                }
                .box_slide_home{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .txt_testi_statis{
                    text-align: center;font-weight: bold;font-size: 28px;color:white;padding-top: 60px;padding-bottom: 30px;
                }
                .title_testi{
                    text-align: center;font-size: 22px;color:white;padding-top: 20px;padding-bottom: 30px;
                }
                .testi_from{
                    text-align: center;font-size: 22px;color:white;font-weight: bold;
                }
                .box_isotope_create{
                    margin-left: 0px;
                    margin-right: 14px;
                }
                .txt_cat{
                    float: left;font-size: 14px;margin-top: 20px;font-weight: bold;margin-bottom: 25px;
                }
                .txt_sidomuncul_statis_head{
                    font-size: 25px;
                    font-weight: bold;
                    color:#000;
                    font-family: 'Lato';
                    margin-top: 30px;
                    margin-bottom: 30px;
                    float: left;
                }
                .icon_box_filter_mob{
                    float: right;margin-top: 30px;margin-bottom: 30px;cursor: pointer;
                }
                .box_nav_filter{
                    margin-top: 60px;margin-bottom: 40px;
                }
                .box_div_news{
                    height:auto;margin-bottom: 40px;margin-top: 30px;
                }
                .box_announcement{
                    width: 100%;margin-top: -20px;
                 }
                 .desc_feat{
                    color:#fff;
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 8px;
                    margin-left: 20px;
                    text-transform: uppercase;
                }
                .title_feat{
                    color:#fff;
                    font-size: 13px;
                    padding-top: 25px;
                    margin-left: 20px;
                }
                .box_right_img_vid{
                    float: right;margin-right: 15px;margin-top: 30px;
                }
                #height_slide{
                    display: none;
                }
                .box_filter_icon_iso{
                    padding-top: 35px;margin: 0px auto;width: 358px;
                }
                nav#filter li {
                        display: inline-block;
                        margin: 0 0 0 5px;
                }
                .box_testimonial{
                    background-color: #85945D;width: 100%;height: 420px;border-bottom: 20px solid #4D5E27
                }
                .slide_page{
                    width: 100%;
                    height: 300px;
                }
                .logo_foot{
                    width:300px;margin-top: 50px;margin-left:-10px;
                }
                .txt_subs_foot{
                    color: #fff;font-size: 14px;margin-top: 70px;margin-bottom:20px;text-align: right;
                }
                #powered_desk{
                    display: none;
                }
                #powered_mob{
                    display: inline;
                }
                .icon_powered{
                    background: url('../../sido_img/images/poweredbytokopo.png');
                    width:70px;
                    height: 29px;
                    margin: 0 auto;
                }
            }

            /*Mobile*/
            @media only screen and (min-width: 240px) and (max-width: 767px){
                #show_filter_mobile{
                    display: inline;
                }
                #show_filter_desktop{
                    display: none;
                }
                #filter_toggle{
                    display: inline;
                }
                .boxkotakcamp{
                    width: 100%; margin-bottom: 4%;
                }
                .desccamp{
                    height: auto;
                    margin-bottom: 25px;
                }
                .tag_cover {
                    position: absolute;
                    /* bottom: 20%; */
                    line-height: normal;
                    font-weight: bold;
                    width: 90%;
                    margin: auto;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 200px;
                }
                
                .next_btn{right:3%;top:50%;}
                .prev_btn{left:3%;top:50%;}
                .next_btn_product{right:0%;top:35%;}
                .prev_btn_product{left:0%;top:35%;}
                .next_btn_testi{right:5%;top:70%;}
                .prev_btn_testi{left:5%;top:70%;}
                .next_btn_feat{right:-2%;top:40%;}
                .prev_btn_feat{left:-2%;top:40%;}
                .img_feat{
                    height: 235px;width: 100%;
                }
                .box_featured{
                    background-color: #85945D;width: 100%;height: 100px;
                }
                .tag_size_text {
                    font-size: 7vw;
                    letter-spacing: normal;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 15px;
                }
                 .subtopic_slide {
                        font-size: 16px;
                        color: #ffffff;
                        text-align: center;
                        top: 0px;
                        bottom: 0px;
                        line-height: 25px;
                        width: 75%;
                        margin: 0 auto;
                        padding-bottom: 10px;
                    }
                .slick-slider{margin-bottom: 0px;}
                .slick-list{height: 100%;}
                .slick-track{height: 100%;}

                .announcement_slider .slick-dots{
            /*        right:0;*/
                text-align: center;
                right: 0;
                left: 0;
                }
                #menu_navbar_desktop{
                    display: none;
                }
                .width_980{
                    position: relative;margin: 0 auto;width: 92%;
                }
                #show_subscribe{
                    display: none;
                }
                .logo_footer{
                    text-align: center;
                }
                .socmed_box{
                    margin: 0px auto;width: 240px;
                }
                
                #show_menu_foot_mobile{
                    display: inline;
                }
                #show_menu_foot_desktop{
                    display: none;
                }
                .txt_foot{
                    color: #939496;
                    font-size: 17px;
                    margin-right: 10px;
                }
                .txt_foot:hover{
                    color: #85945d;
                }
                #popmenu{
                    display: inline;
                }
                .border_bott_footer{
                    border-bottom: 1px solid #989898;width: 80%;padding-top: 15px;margin: 0 auto;
                }
                .box_content{
                    position: relative;top: 0px;height: 100%;width: 100%;
                }
                #menu_head_desktop{
                    display: none;
                }
                #menu_head_mobile{
                    display: inline;
                }
                #box_search_desktop{
                    display: none;
                }
                .bx-wrapper .bx-pager,
                .bx-wrapper .bx-controls-auto {
                        position: absolute;
                        bottom: 30px;
                        right: 0px;
                        width: 100%;
                        margin: 0px auto;
                }
                .title_data{
                    font-size: 22px;
                    font-weight: bold;
                    color:#333333;
                }
                .title_data_statis{
                    font-size: 20px;
                    font-weight: bold;
                    color:#333333;
                    text-align: center;
                }
                .txt_current{
                        font-weight: bold;font-size: 80px;color: #4D5E27;
                 }
                 .sub_title_data{
                    font-size: 16px;
                    font-weight: bold;
                    color:#333333;
                    float: left;
                }
                .txt_source{
                    font-size: 18px;
                    color:#000;
                    margin-bottom: 30px;
                }
                .txt_source:hover{
                    color:#85945d;
                    text-decoration: underline;
                }
                .link_download_pdf{
                    margin-left: 5px;color:#8f8f8f;text-decoration: none;
                }
                .link_download_pdf:hover{
                    color:#85945d;
                    text-decoration: underline;
                }
                .txt_total_data{
                    font-weight: bold;font-size: 60px;color: #4D5E27;float: left;margin-top: 20px;
                }
                .float{
                    float: left;
                }
                #ceo{position: relative;width: 205px;margin:0px auto;}
                .border_line{
                    display: none;
                }
                .txt_sidomuncul_statis{
                    font-size: 22px;
                    font-weight: bold;
                    color:#333333;
                    margin-top: 25px;
                    margin-bottom: 15px;
                    text-align: center;

                }
                .txt_desc_statis{
                    font-size: 16px;
                    color:#333333;
                    font-family: 'Lato';
                    margin-bottom: 20px;
                    word-wrap:break-word;
                    width: 100%;
                    text-align: center;
                    line-height: 30px;
                }
                .box_slide{
                    width: 100%;
                    height: 100%;
                }
                .box_slide_home{
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .txt_testi_statis{
                    text-align: center;font-weight: bold;font-size: 28px;color:white;padding-top: 40px;padding-bottom: 30px;
                }
                .title_testi{
                    text-align: center;font-size: 22px;color:white;padding-top: 20px;padding-bottom: 10px;
                }
                .testi_from{
                    text-align: center;font-size: 22px;color:white;font-weight: bold;
                }
                .box_isotope_create{
                    margin-left: 0px;
                    margin-right: 0px;
                }
                .txt_cat{
                    float: left;font-size: 14px;margin-top: 20px;font-weight: bold;margin-bottom: 25px;
                }
                .txt_sidomuncul_statis_head{
                    font-size: 25px;
                    font-weight: bold;
                    color:#000;
                    font-family: 'Lato';
                    margin-top: 30px;
                    margin-bottom: 30px;
                    float: left;
                }
                .icon_box_filter_mob{
                    float: right;margin-top: 30px;margin-bottom: 30px;cursor: pointer;
                }
                .box_nav_filter{
                    margin-top: 60px;margin-bottom: 40px;
                }
                .box_div_news{
                    height:auto;margin-bottom: 40px;margin-top: 30px;
                }
                .box_announcement{
                    width: 100%;margin-top: -30px;
                 }
                 .desc_feat{
                    color:#fff;
                    font-size: 14px;
                    font-weight: 700;
                    margin-top: 8px;
                    margin-left: 20px;
                    margin-right: 10px;
                    text-transform: uppercase;
                }
                .title_feat{
                    color:#fff;
                    font-size: 13px;
                    padding-top: 25px;
                    margin-left: 20px;
                }
                .box_right_img_vid{
                    float: right;margin-right: 15px;margin-top: 30px;display: none;
                }
                #height_slide{
                    display: none;
                }
                .box_filter_icon_iso{
                    padding-top: 8px;margin: 0px auto;width: 250px;
                }
                nav#filter li {
                        display: inline-block;
                        margin: 0 0 5px 5px;
                }
                .box_testimonial{
                    background-color: #85945D;width: 100%;height: 550px;border-bottom: 20px solid #4D5E27
                }
                .slide_page{
                 
                width: 100%;
                height: 260px;
                }
                .logo_foot{
                    width:300px;margin-top: 50px;margin-left:-10px;
                }
                .txt_subs_foot{
                    color: #fff;font-size: 14px;margin-top: 70px;margin-bottom:20px;text-align: right;
                }
                .icon_powered{
                    background: url('../../sido_img/images/poweredbytokopo.png');
                    width:70px;
                    height: 29px;
                    margin: 0 auto;
                }
                #powered_desk{
                    display: none;
                }
                #powered_mob{
                    display: inline;
                }
            }